# 기본 설정

## 기본 라이브러리 import

In [ ]:
import pandas as pd
import numpy as np

## BigQuery 연동을 위한 기본 설정

In [ ]:
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'automated-ray-378309' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## BigQuery 데이터 불러오기
- `loginUsersDf`: 일간 로그인 유저 데이터프레임
- `ordersDf`: 일간 주문 정보 데이터프레임
- `salesByShopDf`: 매장별 누적매출 데이터프레임
- `shopsDf`: 픽업 매장 정보 데이터프레임

In [ ]:
# 여기서 다루고자 하는 쿼리를 sql 문법에 맞춰 들고옴
query_job = client.query("""
    select *
    from `automated-ray-378309.my_temp.daily_login_users`
""")
# 위에서 들고온 쿼리를 데이터프레임형태로 변형해줌
loginUsersDf = query_job.to_dataframe()
loginUsersDf['login_date'] = loginUsersDf['login_date'].astype('datetime64') #datetime 타입으로 변환(외부에서 불러온 날짜데이터의 경우 datetime이 아닌 다른 형식으로 들어오는 경우가 종종 있음)
#------------------------------------------------------------------------------------------------------------------------------------------------#
query_job = client.query("""
    select *
    from `automated-ray-378309.my_temp.orders`
""")

ordersDf = query_job.to_dataframe()
ordersDf['order_date'] = ordersDf['order_date'].astype('datetime64') 

#------------------------------------------------------------------------------------------------------------------------------------------------#
query_job = client.query("""
    select pickup_shop_name, sum(payment_amount) as sales, count(distinct user_id) as pu
    from `automated-ray-378309.localparm_dw.orders`
    group by pickup_shop_name
""")

salesByShopDf = query_job.to_dataframe()

#------------------------------------------------------------------------------------------------------------------------------------------------#
query_job = client.query("""
    select *
    from `automated-ray-378309.localparm_dw.pickup_shop`
""")
shopsDf = query_job.to_dataframe()

# 데이터 살펴보기

## 일부만 출력 - head(), tail() ⭐️
- colab에서 출력가능한 데이터프레임은 최대 20,000행 입니다.
- colab에서 데이터프레임을 출력할 경우 `filter` 기능도 사용할 수 있습니다. 같이 살펴볼까요?

In [ ]:
ordersDf.head(4)

,order_id,order_date,order_year_month,product_id,user_id,payment_amount,payment_status,pickup_shop_name
0,b8ddfc3a-ed30-4930-bc56-8c1c7cddaa99,2022-11-20,2022-11,05971c6f-df43-4361-8f2d-e36e73484bf1,261f2168-9f42-4a51-8548-7f3edf5d7ed9,20500,completed,픽업존(더현대서울)
1,23dd5859-7d76-4015-a6aa-5cb732696664,2022-11-14,2022-11,07b525ae-7120-4b43-b377-9748f9919c25,91b19fb3-1c79-4577-9f6c-6b05c870344a,10000,completed,픽업존(더현대서울)
2,2bff505e-3095-424b-8d53-905cb23d45b0,2022-11-14,2022-11,07b525ae-7120-4b43-b377-9748f9919c25,b6b68b58-ce02-4311-8673-76e658d81ed4,20000,canceled,픽업존(더현대서울)
3,a3c4bdde-8feb-4153-9ea4-f6002df2e8db,2022-11-14,2022-11,09bca887-402c-431c-8215-e2e4363b0a05,e2b97c48-adb2-4838-bfd9-fc33b858e337,16000,canceled,픽업존(더현대서울)

## 타입 확인 - type()

In [ ]:
print(type(ordersDf)) # <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>

## 데이터의 분포를 확인 - value_counts() ⭐️

In [ ]:
# ordersDf['pickup_shop_name'].value_counts()

# << Series를 DataFrame으로 만들어서 보면 보기/다루기 편하죠 아래 코드를 '.' 단위로 나눠서 실행해 볼까요? >>
ordersDf[['pickup_shop_name', 'product_id']].value_counts().to_frame().reset_index().rename(columns={0:'order_count'}).head()

  pickup_shop_name                            product_id  order_count
0        픽업존(유승상가)  fbd559bb-f7b2-4250-8d6c-93524a169c3e          206
1        픽업존(유승상가)  d01198e1-d827-4d82-8301-918757895020          170
2        픽업존(유승상가)  b2672cda-3977-45df-8046-dca95a826017          158
3        픽업존(유승상가)  2d335dd0-4bdc-41be-99ac-5d4da2727778          154
4        픽업존(유승상가)  8e1db1bf-f4f4-43c1-b258-bc1e0ee8162c          146

## 데이터의 타입, 갯수, 각 컬럼별 정보를 확인 - df.info()
- 참고: Series의 경우 info() attribute이 없기때문에 사용할 수 없습니다.

In [ ]:
ordersDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32224 entries, 0 to 32223
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          32224 non-null  object
 1   order_date        32224 non-null  datetime64[ns]
 2   order_year_month  32224 non-null  object
 3   product_id        32224 non-null  object
 4   user_id           32224 non-null  object
 5   payment_amount    32224 non-null  Int64
 6   payment_status    32224 non-null  object
 7   pickup_shop_name  32224 non-null  object
dtypes: Int64(1), datetime64[ns](1), object(6)
memory usage: 2.0+ MB

## 컬럼별 요약 통계 제공 - df.describe() ⭐️
- 공식문서: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html
- include파라미터의 default설정은 `number`(수치형)이며, `object`(문자형), `all`(모두) 옵션 선택 가능 
- 문자형 컬럼에 대한 통계량
  - `count`: 데이터 개수(중복 포함)
  - `unique`: 데이터 개수(중복 제외)
  - `top`: 가장 많은 빈도수를 갖는 값
  - `freq`: top에서 관측된 값의 빈도수
- Timestamp 타입의 컬럼에게는 first, last 값도 통계량으로 함께 제공

In [ ]:
# << 수치형 컬럼에 대한 통계량 확인 >>
# ordersDf.describe() 

# << 문자열 컬럼에 대한 통계량 확인 >>
# ordersDf.describe(include='object')

# << 전체 컬럼에 대한 통계량 확인 >>
ordersDf.describe(include='all')

<ipython-input-13-5be779027494>:8: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  ordersDf.describe(include='all')

,order_id,order_date,order_year_month,product_id,user_id,payment_amount,payment_status,pickup_shop_name
count,32224,32224,32224,32224,32224,32224.000000,32224,32224
unique,32224,211,7,727,4000,NaN,5,8
top,b8ddfc3a-ed30-4930-bc56-8c1c7cddaa99,2022-11-29 00:00:00,2022-11,fbd559bb-f7b2-4250-8d6c-93524a169c3e,76d5c8b0-7a5c-4d9d-aafb-8edc91a3de1e,NaN,completed,픽업존(유승상가)
freq,1,996,10037,206,165,NaN,29663,17615
first,NaN,2022-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2022-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,15452.538481,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,9932.864159,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,9000.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,14000.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,19000.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,248000.000000,NaN,NaN

## 데이터프레임의 컬럼별 타입 확인 - df.dtypes
- 참고 : Pandas는 문자열 자료형을 `object라는` 이름으로 인식하고, Python은 `string`이라는 이름으로 인식

In [ ]:
print(ordersDf.dtypes)

order_id                    object
order_date          datetime64[ns]
order_year_month            object
product_id                  object
user_id                     object
payment_amount               Int64
payment_status              object
pickup_shop_name            object
dtype: object

## 데이터프레임의 (행x열) 크기 확인 - df.shape ⭐️
- 함수가 아닌 DataFrame의 속성(Attributes)을 확인하는 경우는 ()를 붙이지 않습니다.
- loc[], iloc[] 처럼 속성 사용시 대괄호가 붙는 경우도 있으니 속성별 사용방법은 공식문서를 참고해주세요 💪
- [참고] 공식문서 : https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [ ]:
print(ordersDf.shape) # (행 크기, 열 크기)

(32224, 8)

## 데이터프레임의 컬럼명 확인 - df.columns

In [ ]:
print(ordersDf.columns)

Index(['order_id', 'order_date', 'order_year_month', 'product_id', 'user_id',
       'payment_amount', 'payment_status', 'pickup_shop_name'],
      dtype='object')

# 데이터 정렬하기

## 인덱스 정렬 - sort_indx()
- 인덱스를 기준으로 데이터를 정렬합니다.
- 기본 정렬은 오름차순이며, `ascending=False`를 통해 내림차순 정렬 가능.

In [ ]:
# << 샵별 상품별 주문건수 데이터프레임 생성 >>
shopAndProductCountDf = ordersDf[['pickup_shop_name', 'product_id']].value_counts().to_frame().reset_index().rename(columns={0:'order_count'}) 
# shopAndProductCountDf
# << index 값을 기준으로 정렬 >>
shopAndProductCountDf.sort_index(ascending=False).head()

     pickup_shop_name                            product_id  order_count
3004  픽업존(GS25 목동3동점)  013fa1a7-f554-467c-ba15-30fd4b8033e7            1
3003       픽업존(메이비카페)  43be56c2-66bf-4295-ac44-403ad4c5a324            1
3002   픽업존(참맛부대찌개아구찜)  595faf72-255a-4790-a8fb-cfff627e9ae9            1
3001        픽업존(유승상가)  8022693b-4f50-4a79-924f-47b5265bac46            1
3000       픽업존(메이비카페)  4912ff5d-00bb-4faf-b82f-d9b11c84c668            1

## 값 정렬 - sort_values() ⭐️
- 값을 기준으로 정렬되며 기준값은 by로 설정합니다.
- by에는 2개 이상의 컬럼을 설정할 수 있습니다.
- 기본 정렬은 오름차순이며, `ascending=False`를 통해 내림차순 정렬 적용 가능.

In [ ]:
# << 단일컬럼 정렬 >>
shopAndProductCountDf.sort_values(by='order_count', ascending=False).head()

# << 다중컬럼 정렬 >>
# shopAndProductCountDf.sort_values(by=['pickup_shop_name', 'order_count'], ascending=False).head()

# << 다중컬럼 정렬 - 컬럼별 정렬순서 설정 >>
# shopAndProductCountDf.sort_values(by=['pickup_shop_name', 'order_count'], ascending=[True, False]).head() # 컬럼별 정렬 개별적용도 가능

  pickup_shop_name                            product_id  order_count
0        픽업존(유승상가)  fbd559bb-f7b2-4250-8d6c-93524a169c3e          206
1        픽업존(유승상가)  d01198e1-d827-4d82-8301-918757895020          170
2        픽업존(유승상가)  b2672cda-3977-45df-8046-dca95a826017          158
3        픽업존(유승상가)  2d335dd0-4bdc-41be-99ac-5d4da2727778          154
4        픽업존(유승상가)  8e1db1bf-f4f4-43c1-b258-bc1e0ee8162c          146

# 데이터 뽑아내기 & 핸들링 하기

## 데이터프레임에서 일부 컬럼을 선택 ⭐️
- 데이터프레임에서 하나의 컬럼을 선택하면 `Series` 형태가 됩니다.
- 데이터프레임에서 두개 이상의 컬럼을 선택하면 `DataFrame` 형태가 됩니다.

In [ ]:
# << 데이터프레임에서 단일컬럼 뽑아내기 >>
orderIdDf = ordersDf['order_id'] # 하나의 열만 선택해서 orderIdDf에 할당하는 경우
orderIdDf.head() # Series도 head, tail 메소드를 가지고 있기 때문에. DataFrame과 동일하게 사용 가능

# << orderIdDf의 타입 확인 >>
# print(type(orderIdDf))

0    b8ddfc3a-ed30-4930-bc56-8c1c7cddaa99
1    23dd5859-7d76-4015-a6aa-5cb732696664
2    2bff505e-3095-424b-8d53-905cb23d45b0
3    a3c4bdde-8feb-4153-9ea4-f6002df2e8db
4    30f75de2-8e7c-4927-86e9-db27ce93eac5
Name: order_id, dtype: object

In [ ]:
# << 데이터프레임에서 다중컬럼 뽑아내기 >>
subOrdersDf = ordersDf[['order_id', 'order_date', 'user_id', 'payment_amount']] # 다수의 컬럼을 선택할때는 리스트[] 안에 컬럼을 감싼 상태로 전달해야 합니다.
subOrdersDf.head(3)

# << subOrdersDf의 타입 확인 >>
# print(subOrdersDf.dtypes)
# print(type(subOrdersDf))

,order_id,order_date,user_id,payment_amount
0,b8ddfc3a-ed30-4930-bc56-8c1c7cddaa99,2022-11-20,261f2168-9f42-4a51-8548-7f3edf5d7ed9,20500
1,23dd5859-7d76-4015-a6aa-5cb732696664,2022-11-14,91b19fb3-1c79-4577-9f6c-6b05c870344a,10000
2,2bff505e-3095-424b-8d53-905cb23d45b0,2022-11-14,b6b68b58-ce02-4311-8673-76e658d81ed4,20000

## df.loc[] ⭐️
- `Access a group of rows and columns by label(s) or a boolean array`
- 인덱스를 기준으로 행 데이터를 추출하는 방법
- 협업이 많고 규모가 큰 프로젝트 일수록 iloc[] 보다는, `컬럼명을 명시적으로 작성해주는 loc[]를 사용하는 편.`

In [ ]:
ordersDf.head(10)

,order_id,order_date,order_year_month,product_id,user_id,payment_amount,payment_status,pickup_shop_name
0,b8ddfc3a-ed30-4930-bc56-8c1c7cddaa99,2022-11-20,2022-11,05971c6f-df43-4361-8f2d-e36e73484bf1,261f2168-9f42-4a51-8548-7f3edf5d7ed9,20500,completed,픽업존(더현대서울)
1,23dd5859-7d76-4015-a6aa-5cb732696664,2022-11-14,2022-11,07b525ae-7120-4b43-b377-9748f9919c25,91b19fb3-1c79-4577-9f6c-6b05c870344a,10000,completed,픽업존(더현대서울)
2,2bff505e-3095-424b-8d53-905cb23d45b0,2022-11-14,2022-11,07b525ae-7120-4b43-b377-9748f9919c25,b6b68b58-ce02-4311-8673-76e658d81ed4,20000,canceled,픽업존(더현대서울)
3,a3c4bdde-8feb-4153-9ea4-f6002df2e8db,2022-11-14,2022-11,09bca887-402c-431c-8215-e2e4363b0a05,e2b97c48-adb2-4838-bfd9-fc33b858e337,16000,canceled,픽업존(더현대서울)
4,30f75de2-8e7c-4927-86e9-db27ce93eac5,2022-11-16,2022-11,0c9ae89d-be78-4dd2-9b9e-434c31e123ec,a60e189f-0e40-4761-ad6d-71d3fec1fec4,34000,completed,픽업존(더현대서울)
5,34d49153-4483-431b-812a-510e0956150e,2022-11-30,2022-11,10bede47-90cf-4606-95c8-3dfde6418e4e,23e04da9-6363-4784-8f82-bca0cc85661e,5700,completed,픽업존(더현대서울)
6,2c9fab67-82bb-4337-b360-58cfb259cd05,2022-11-21,2022-11,1f5be0c5-1cc9-4d82-aa3a-09f03a596722,9b729fa2-54aa-48ee-900d-c7bb5a126631,5500,completed,픽업존(더현대서울)
7,f95f3646-5378-40f7-bd66-ec830f725360,2022-11-24,2022-11,206819c1-6de1-4d75-bf40-da3b962691c4,6d36c5be-ff5b-4732-b052-561f812a9e26,9500,canceled,픽업존(더현대서울)
8,eb251887-798b-4777-aff3-35e5620a9465,2022-11-14,2022-11,29865e6b-d911-46df-a6b7-5c621085cc65,615a4c39-c0f2-46c3-8d50-87ff6498a83a,28100,completed,픽업존(더현대서울)
9,60375ef8-bea4-4bb2-92c0-9d86f5f12da2,2022-11-14,2022-11,29865e6b-d911-46df-a6b7-5c621085cc65,a60e189f-0e40-4761-ad6d-71d3fec1fec4,26100,completed,픽업존(더현대서울)

In [ ]:
# << indexing >>
# index = 8 & 하나의 컬럼 선택
ordersDf.loc[8, 'order_id']

'eb251887-798b-4777-aff3-35e5620a9465'

In [ ]:
# << indexing >> 
# index = 8 & 여러개의 컬럼 선택
ordersDf.loc[8, ['order_id', 'order_date', 'product_id', 'payment_amount']]

order_id          eb251887-798b-4777-aff3-35e5620a9465
order_date                         2022-11-14 00:00:00
product_id        29865e6b-d911-46df-a6b7-5c621085cc65
payment_amount                                   28100
Name: 8, dtype: object

In [ ]:
# << slicing >>
# 이때, [시장(포함): 끝(포함)] 된다는 점에 유의!
ordersDf.loc[4:7, 'order_id':'user_id']

,order_id,order_date,order_year_month,product_id,user_id
4,30f75de2-8e7c-4927-86e9-db27ce93eac5,2022-11-16,2022-11,0c9ae89d-be78-4dd2-9b9e-434c31e123ec,a60e189f-0e40-4761-ad6d-71d3fec1fec4
5,34d49153-4483-431b-812a-510e0956150e,2022-11-30,2022-11,10bede47-90cf-4606-95c8-3dfde6418e4e,23e04da9-6363-4784-8f82-bca0cc85661e
6,2c9fab67-82bb-4337-b360-58cfb259cd05,2022-11-21,2022-11,1f5be0c5-1cc9-4d82-aa3a-09f03a596722,9b729fa2-54aa-48ee-900d-c7bb5a126631
7,f95f3646-5378-40f7-bd66-ec830f725360,2022-11-24,2022-11,206819c1-6de1-4d75-bf40-da3b962691c4,6d36c5be-ff5b-4732-b052-561f812a9e26

In [ ]:
# << fnacy indexing >>
ordersDf.loc[4:8, ['order_id', 'user_id']]
ordersDf.loc[8, 'order_id':'user_id']

In [ ]:
# << boolean indexing >>
condition = ordersDf['product_id'] == '7680cebc-f48a-40f0-a2e9-b9d8c0354555'
ordersDf[condition]

In [ ]:
# << boolean indexing - 다중 조건 >>
condition1 = ordersDf['product_id'] == '7680cebc-f48a-40f0-a2e9-b9d8c0354555'
condition2 = ordersDf['order_date'] == '2022-07-15'
ordersDf.loc[condition1 & condition2] # and <<- 31개 행
ordersDf.loc[condition1 | condition2] # or  <<- 296개 행

## df.iloc[]
- `Purely integer-location based indexing for selection by position.`
- df.loc[] 와 사용방법이 동일하지만, 인덱스가 아닌 행/열 번호를 기준으로 데이터를 추출
- [참고] 인덱스와 행번호의 차이 🔥 
  - 인덱스는 보통 0부터 시작하지만 중간에 데이터가 삭제되면 언제든 변할 수 있으며 숫자가 아니라 문자열도 사용할 수 있음
  - 하지만 행/열 번호는 데이터의 순서를 따라가기 때문에 정수를 통해서만 데이터 조회/추출이 가능

In [ ]:
# << indexing >>
ordersDf.iloc[3, 3]

In [ ]:
# << slicing >>
# df.loc와 다르게 [시작(포함):끝(제외)] 된다는 점에 유의!
ordersDf.iloc[4:7, 0:4]

# << 비교용 - loc slicing >>
# 이때, [시작(포함): 끝(포함)] 된다는 점에 유의!
# ordersDf.loc[4:7, 'order_id':'user_id']

In [ ]:
# << fancy indexing >>
ordersDf.iloc[[4, 5, 6], 0:4]

## Series.where
- `Series.where(시리즈에 대한 조건문, 조건이 거짓일때 값)` 형태로 사용하며 
- 조건이 참인 경우에 대해서는 `기존의 값을 유지한다.`

In [ ]:
# product_id 컬럼의 값이 '7680cebc-f48a-40f0-a2e9-b9d8c0354555'이 아닌 경우, 해당 컬럼의 다른 값들을 모두 99로 변경
ordersDf['product_id'].where(ordersDf['product_id'] == '7680cebc-f48a-40f0-a2e9-b9d8c0354555', 99).to_frame()

In [ ]:
# product_id 컬럼의 값이 '7680cebc-f48a-40f0-a2e9-b9d8c0354555'이 아닌 경우, 해당 행을 제외한 나머지 행들의 전체 값을 99로 변경
ordersDf.where(ordersDf['product_id'] == '7680cebc-f48a-40f0-a2e9-b9d8c0354555',99)

## np.where ⭐️
- `np.where(배열에 대한 조건문, 조건이 참일때 값, 조건이 거짓일때 값)` 형태로 사용하며 배열 형태로 반환
- `pd.where` 보다 유연하게 사용 가능

In [ ]:
shopsDf

In [ ]:
# << 어떤 결과가 나오나요? >>
np.where(shopsDf['region_2depth_name'] != '영등포구')

# << 여기에 조건을 충족하는경우와, 아닌경우에 임의의 값을 넣어봅시다. >>
# np.where(shopsDf['region_2depth_name'] != '영등포구', '충족하면_이렇게', '아니면_이렇게')
# shopsDf['region_3depth_name'] = np.where(shopsDf['region_2depth_name'] != '영등포구', '충족하면_이렇게', '아니면_이렇게')
# shopsDf

## df.isin()
- 특정 값에 대한 포함 여부를 확인

In [ ]:
# pickup_shop_name에 '픽업존(메이비카페)', '픽업존(더현대서울)'이 포함되어 있는지 확인
shopsDf['pickup_shop_name'].isin(['픽업존(메이비카페)', '픽업존(더현대서울)'])

# << 어떻게 출력될까요? - case.1 위에서 구한 불리언 시리즈를 데이터 프레임에 넣은 경우 >>
# shopsDf[shopsDf['pickup_shop_name'].isin(['픽업존(메이비카페)', '픽업존(더현대서울)'])]

# << 어떻게 출력될까요? - case.2 탐색하고자 하는 컬럼을 하나 더 추가한 경우 >>
# shopsDf[['pickup_shop_name', 'region_2depth_name']].isin(['픽업존(메이비카페)', '픽업존(더현대서울)'])

In [ ]:
# << 어떻게 출력될까요? - case.3 탐색하고자 하는 컬럼을 지정하지 않은 경우 >>
shopsDf.isin(['픽업존(메이비카페)', '픽업존(더현대서울)'])

# << 어떻게 출력될까요? - case.4 위에서 구한 불리언 타입으로 구성된 데이터 프레임을, 동일한 크기의 shosDf안에 넣은 경우 >>
# shopsDf[shopsDf.isin(['픽업존(메이비카페)', '픽업존(더현대서울)'])]

## datetime ⭐️
- 공식 문서 참고 : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.year.html
- 외부에서 불러온 데이터에서 날짜 형식의 데이터가 있는경우 `datetime 타입으로 변환시켜주시는게 좋습니다.` (데이터 핸들링 편의성 관점)
- datetime 타입의 데이터를 사용할 경우, 사용할 수 있는 기능
  - dt.year: 연도
  - dt.month: 월
  - dt.day: 일
  - dt.week: 주
  - dt.weekofyear: 연중 몇 째주
  - dt.dayofweek: 요일 (월요일: 0, ..., 일요일: 6)
  - dt.weekday: 요일 (dayofweek과 동일)

In [ ]:
ordersDf['order_date'].dt.year
ordersDf['order_date'].dt.month
ordersDf['order_date'].dt.day
ordersDf['order_date'].dt.dayofweek

# 데이터 병합

## pd.concat() ⭐️
- 지정한 DataFrame을 연결하는데 사용

In [ ]:
# << 실습을 위한 shopsDf 데이터 분할 >>
shopsDf_02 = shopsDf.loc[0:2]
shopsDf_34 = shopsDf.loc[3:4]
shopsDf_57 = shopsDf.loc[5:7]

# << concat을 통한 위, 아래 병합 >>
# 각 컬럼 기준으로 같은 이름들끼리 알아서 병합해주고 (컬럼 순서도 상관 X), 병합시 다른 한쪽에 없는 컬럼이 있으면 없는데로 null값을 할당해서 합쳐 줍니다.
pd.concat([shopsDf_02, shopsDf_57, shopsDf_34], ignore_index=True) # ignore_index=True 설정이 있어야, 데이터 병합 후 index가 재설정 됩니다.

In [ ]:
# << 실습을 위한 shopsDf 데이터 분할 >>
shopsDf_left = shopsDf.loc[:, ['pickup_shop_name', 'region_1depth_name', 'region_2depth_name', 'region_3depth_name']]
shopsDf_right = shopsDf.loc[4:, ['h_code', 'x', 'y']]

# << concat을 통한 왼쪽, 오른쪽 병합 >>
# 위아래 병합과 달리 같은 인덱스 끼리 합해줍니다.
pd.concat([shopsDf_left, shopsDf_right], axis=1) # axis = 1 설정을 통해 열방향 병합을 설정!

In [ ]:
shopsDf

## pd.merge() ⭐️
- 공통된 key(컬럼)을 기준으로 DataFraem을 병합하는데 사용
- default 조인 방법은 inner이며, `총 네가지 병합 방식을 제공(left, right, outer, inner)`
- SQL의 JOIN과 유사한 기능

In [ ]:
# << 실습 데이터 확인 >>
salesByShopDf_harf = salesByShopDf.loc[0:4]
salesByShopDf_harf

In [ ]:
# << 이름이 같은 두 컬럼을 조인키로 지정하는 방법 - on >>
pd.merge(salesByShopDf_harf, salesByShopDf, on = 'pickup_shop_name', how = 'left') # left, right, outer, inner

  pickup_shop_name    sales_x  pu_x    sales_y  pu_y
0        픽업존(유승상가)  267844000  1929  267844000  1929
1       픽업존(더현대서울)    1199500    23    1199500    23
2       픽업존(메이비카페)   76700200   653   76700200   653
3  픽업존(GS25 목동3동점)   33700500   394   33700500   394
4    픽업존(GS영등포당산점)   36577700   547   36577700   547

In [ ]:
# << 이름이 다른 두 컬럼을 조인키로 지정하는 방법 - left_on, right_on >>

# 임의 데이터 분할
a = shopsDf.loc[:, ['pickup_shop_name', 'region_1depth_name', 'region_2depth_name']]
b = shopsDf.loc[:4, ['pickup_shop_name', 'h_code']].rename(columns={'pickup_shop_name':'shop_name'})

# 이름이 다른 컬럼으로, 두 데이터 프레임 join
pd.merge(a, b, left_on = 'pickup_shop_name', right_on = 'shop_name', how = 'left')

# 기타 고급 기능

## df.groupby() ⭐️

In [ ]:
# order_year_month별 합 - 숫자형 컬럼들에대해 모두 sum값이 계산되어 나오지만, 이 데이터에는 숫자형이 컬럼이 payment_amount 하나밖에 없습니다.
ordersDf.groupby('order_year_month').sum()

In [ ]:
# order_year_month별 pickup_shop_name 별 합 - 만약 여러개의 숫자형 컬럼이 있었다면 그룹핑 결과 중 특정 컬럼(e.g. payment_amount)에 대해서만 선택해서 볼 수 있습니다.
ordersDf.groupby(['order_year_month', 'pickup_shop_name'])['payment_amount'].sum()

In [ ]:
# to_frame() 함수를 사용해서, 데이터 프레임 형태로 볼 수 있습니다.
# ㄴ to_frame()은 Seires를 DataFrame으로 변환하는 함수이며
# ㄴ 아래 코드 전체를 pd.DataFrame()으로 감싸는 방법도 있습니다.
ordersDf.groupby(['order_year_month', 'pickup_shop_name'])['payment_amount'].sum().to_frame()

In [ ]:
# reset_index()를 사용해서 index를 초기화하고 새로운 데이터 프레임을 만들 수 있습니다.
ordersDf.groupby(['order_year_month', 'pickup_shop_name'])['payment_amount'].sum().reset_index()

In [ ]:
# << 다중 통계량 계산 >>

multiStatsDf = ordersDf.groupby('order_year_month').agg(['sum', 'mean', 'median', 'max', 'min', 'count', 'nunique', 'std', 'var']).reset_index()
multiStatsDf

In [ ]:
# << (참고) 멀티 컬럼에 접근하는 방법 - 어떤 차이가 있는지 한줄식 실행해 보세요 ~ ☺️ >>

multiStatsDf['payment_amount']['sum']
multiStatsDf[('payment_amount', 'sum')] # 튜플형태로 접근
multiStatsDf['payment_amount'][['sum', 'mean']]
multiStatsDf.loc[[1,6], 'payment_amount'][['sum', 'max']]

## df.pivot_table()
- `index, colums, values`를 지정하여 테이블을 피벗합니다.
  - index : 왼쪽의 기준 행으로 두고 싶은 컬럼
  - columns : 상단에 나열하고 싶은 컬럼
  - values : 안에 표기하고 싶은 데이터
- `aggfunc`는 defaul로 sum이 할당되어 있으며, 변경 및 추가 가능

In [ ]:
shopsDf.pivot_table(index = 'pickup_shop_name' , columns= 'region_2depth_name', values = 'x')

In [ ]:
shopsDf.pivot_table(index = 'region_2depth_name' , columns= 'region_1depth_name', values = 'x', aggfunc=['sum', 'min'])

## df.melt()
- `id_vars, value_vars`를 지정하여 테이블 형태를 변경합니다.
  - id_vers : 왼쪽의 기준 행으로 두고 싶은 변수 
  - value_vars : 녹이고자 하는 컬럼
  - var_name : 
  - value_name :

In [ ]:
shopsDf

In [ ]:
# 우선 어떻게 녹아내리는지 확인해 볼까요?
shopsDf.melt(id_vars='pickup_shop_name')

In [ ]:
# pickup_shop_name을 기준으로 region_1depth_name 컬럼 하나만 녹이고 싶다면?
shopsDf.melt(id_vars='pickup_shop_name', value_vars='region_1depth_name')

In [ ]:
# pickup_shop_name을 기준으로 h_code, x, y 컬럼을 녹이고 싶다면?
shopsDf.melt(id_vars='pickup_shop_name', value_vars=['h_code', 'x', 'y'])# var_name = 'category', value_name = 'index'

# pandasql 
- 해당 라이브러리를 사용하면, python에서 새롭게 생성된 DataFrame도 SQL 문법에 맞춰 핸들링 할 수 있기 때문에, pandas 문법이 갑자기 생각이 나지 않더라도 유연하게 대처할 수 있습니다.
- 단 bigquery에서 사용되는 일부 함수의 경우 해당 기능을 제공하지 않을 수 있습니다. 
- https://pypi.org/project/pandasql/
- https://github.com/yhat/pandasql/
- SQLite - SQL Function : https://www.sqlite.org/lang_corefunc.html
- pandasql uses SQLite syntax. Any pandas dataframes will be automatically detected by pandasql. You can query them as you would any regular SQL table.

In [ ]:
!pip install pandasql

In [ ]:
!pip show pandasql

Name: pandasql
Version: 0.7.3
Summary: sqldf for pandas
Home-page: https://github.com/yhat/pandasql/
Author: Greg Lamp
Author-email: greg@yhathq.com
License: Copyright (c) 2013 Yhat, Inc.

        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
Location: /usr/local/lib/python3.8/dist-packages
Requires: pandas, numpy, sqlalchemy
Required-by:

In [ ]:
from pandasql import sqldf
dfsql = lambda q: sqldf(q, globals())

basicIndexDf = dfsql("""
with login_users as (
  select login_year_month, count(distinct user_id) as mau
  from loginUsersDf
  group by login_year_month
),

orders as (
  select order_year_month, sum(payment_amount) as sales, count(distinct user_id) as pu
  from ordersDf
  group by order_year_month
)

select a.login_year_month, a.mau, b.sales, b.pu, round(b.sales/b.pu, 2) as arppu, round(round(b.sales)/b.pu, 2) as arppu_re
from login_users as a
left join orders as b
on a.login_year_month = b.order_year_month
order by a.login_year_month
""")

basicIndexDf

In [ ]:
basicIndexDf.info()